@charset "utf-8";
html{height:100%}/*overflow:hidden*/
body{height:100%}/*overflow:auto*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;list-style:none;font:14px "Arial","sans-serif","宋体","Tahoma"}
*html{background-image:url(about:blank);background-attachment:fixed}/*iE6 position:fixed*/
h1{font-size:24px;font-weight:bold}
h2{font-size:22px;font-weight:bold}
h3{font-size:20px;font-weight:bold}
h4{font-size:18px;font-weight:bold}
h5{font-size:16px;font-weight:bold}
h6{font-size:14px;font-weight:bold}
img{vertical-align:middle;border: none 0}
a{cursor:pointer;text-decoration:none;color:#666}

/*表&表单*/
table{border-collapse:collapse;border-spacing:0;border:0}
input,select{vertical-align:middle}
select{height:22px;line-height:18px;padding:2px 0; border-radius:3px; border:1px #999 solid}
.checkbox{border:none 0}
textarea{resize:none;vertical-align:top;padding:5px;border:1px solid #CCC; border-radius:3px}
label{vertical-align:middle}
input:focus,textarea:focus{outline:none}    
.text{height:20px;line-height:20px;vertical-align:middle;padding-left:5px;border:1px solid #CCC;_heght:10px;_padding-top:3px; border-radius:3px}
.radio{vertical-align:baseline;*vertical-align:-1px;border:none 0;border-top-width:0}
.btn{border:none 0;text-align:center;vertical-align:middle}
.tr-over{background-color:#f3f3f3}

/*文本*/
.f12{font-size:12px}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.vm{vertical-align:middle}
.ht{text-indent:-1000px; overflow:hidden; vertical-align:middle}
em{font-style:normal}

/*定位*/
.fl{float:left;_display:inline}
.fr{float:right;_display:inline}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.pr{position:relative}
.zoom{zoom:1}
.none{display:none}


/*盒子*/
.mc{margin:0 auto}
.padding20{padding:20px}
#body .noBorder{border:none}

/*颜色*/
#body .red{color:#f00}
#body .red900{color:#900}
#body .gray{color:#999}
#body .orange{color:#F90}
#body .green{color:#639133}
#body .blueA{color:#0A768F}


/*全站鼠标hover*/
#body a:hover{color:#FF6600}

/*固定位置*/
.fixed{position:fixed;bottom:auto; margin-left:-180px;top:180px;} 
html .fixed{_position:absolute;_left:-150px; _margin:0;z-index:500;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop));} /* IE6 头部固定 */

.mask {width:100%;position:absolute;-moz-opacity:0.3;opacity:.30;filter:alpha(opacity=30);background-color:#000;z-index:300;left:0;top:0;display:none}